:root {
    --white: #FFFFFF;
    --black: #000000;
    --red: #E5252E;
    --text-input-field: #F7F7F7;
    --very-light-pink: #C7C7C7;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    --card-size:100px;
}

body{
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

.login {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.form-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
   
}


.logo {
    width: 150px;
    margin-bottom: 48px;
    justify-self: center;
    display: none;
}

.title {
    font-size: var(--lg);
    margin-bottom: 12px;
    text-align: center;
}

.subtitle {
    color: var(--very-light-pink);
    font-size: var(--md);
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 32px;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.label {
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 4px;
}

.input{ 
    background-color: var(--text-input-field);
    border: none;
    border-radius: 8px;
    height: 30px;
    font-size: var(--md);
    padding: 6px;
    margin-bottom: 12px;
}

.primary-button{
    background-color: var(--red);
    border-radius: 8px;
    border:none;
    color: var(--white);
    width: 100%;
    cursor:pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}

.login-button {
    margin-top: 14px;
    margin-bottom: 30px;
}

.signup-button {
    background-color: var(--white);
    border-radius: 8px;
    border:none;
    color: var(--red);
    width: 100%;
    cursor:pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
    border: 2px solid var(--red);
    
}

.email {
    width: 90px;
    margin-bottom: 10px;

}

.circle{
    width: 150px;
    height: 150px;
    background-color: var(--text-input-field);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
}

.resend{
    color: var(--red);
    margin-top: 0;
    margin-bottom: 32px;
    text-align: center;
}

.resend-message{
    display: inline-block;
}




.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--card-size));
    gap: 26px;
    place-content: center;
}

.product-card{
    width: var(--card-size);
}

/*Imagen producto*/
.product-card img{
    width: var(--card-size);
    height: var(--card-size);
    border-radius: 20px;
    object-fit: cover;
}

.product-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

/*Carrito*/
.product-info figure{
    margin: 0;
}
/*Carrito*/
.product-info figure img {
    width: 35px;
    height: 35px;
}

/*Precio*/
.product-info div p:nth-child(1){
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
}

/*Nombre producto*/
.product-info div p:nth-child(2){
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 0;
    color: var(--very-light-pink);
}

/*Menu*/
.menu-container{
    list-style-type: none; /*Borrar puntos de lista*/
    padding:20px;
    padding-bottom:0px;
    padding-top:20px;
    text-align: right;
    border: 2px solid black;
    border-width: thin;
    border-radius: 5px;
    font-weight: bold;
    font-size: var(--md);
    width: 90px;
    line-height: 4;
    
}


.menu-container li:nth-child(3){
    font-weight: normal;
    font-size: var(--sm);
    margin-top: 10px;
    border-top: 1px solid black;
}

.menu-container li:not(:last-child){
    line-height: 2;
}

@media (max-width: 640px){
 .logo{
    display: block;
 }
}

@media (max-width: 640px) {
  #createbutton {
    position: fixed;
    bottom: 5px;
    max-width: 280px;
  }

@media (max-width: 640px){
 :root{
    --card-size: 140px;
 }
}
}
